version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "monthly"
    labels: ["dependencies", "github_actions"]

  - package-ecosystem: "bun"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "monthly"
    labels: ["dependencies", "javascript"]